################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

x86/
x64/
ARM/
Debug/
Release/
*.swp
*.aps
*.obj
*.tlog
