################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x86/Debug
/x64/Debug
/ARM/Debug
*.swp
*.aps
